@use "global" as *;
@use "sass:math";

.c-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: rem(335);
  padding-top: rem(9);
  padding-bottom: rem(9);
  font-size: rem(20);
  font-weight: $normal;
  letter-spacing: math.div( 2em, 20 );
  text-align: center;
  text-indent: math.div(2em, 20);
  @include mq() {
    width: rem(360);
    padding-top: rem(18);
    padding-bottom: rem(18);
    font-size: rem(16);
    font-weight: $medium;
    letter-spacing: math.div(2em, 16);
    text-indent: math.div(2em, 16);
  }
}

.c-btn--normal {
  background-color: $black3;
  border: 1px solid $white;
}

.c-btn--normal::before {
  @include mq() {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    border: 0;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    z-index: -1;
  }
}

.c-btn:hover {
  @include mq() {
    color: $black0;
  }
}

.c-btn:hover::before {
  @include mq() {
    transform: translateX(0);
  }
}

.c-btn--pc-small {
  background-color: $black3;
  border: 1px solid $white;
  @include mq() {
    width: rem(134);
    background-color: $white;
    border: 0;
    color: $black0;
    font-size: rem(16);
    padding-top: rem(3);
    padding-bottom: rem(3);
  }
}

.c-btn--pc-small::before {
  @include mq() {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black3;
    border: 0;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    z-index: -1;
  }
}

.c-btn--pc-small:hover {
  @include mq() {
    color: $white;
  }
}

.c-btn--submit {
  background-color: $white;
  border: 0;
  color: $black0;
}

.c-btn--submit::before {
  @include mq() {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $black3;
  border: 0;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
  z-index: -1;
  }
}

.c-btn--submit:hover {
  @include mq() {
    color: $white;
  }
}
