@use "global" as *;

.c-category {

}

.c-category__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.c-category__item--all {
  @include txt(rem(16), $regular, $black1, center);
  @include txt-option(1.438, 0.125em);
  padding: rem(3.5) rem(5.5);
  margin-right: rem(12);
  background-color: $white;
  text-transform: uppercase;
}

.c-category__item a {
  display: inline-block;
  @include txt(rem(16), $regular, $white, center);
  @include txt-option(1.438, 0.125em);
  padding: rem(3.5) rem(5.5);
  margin-right: rem(12);
}

.c-category__item a:hover {
  color: $black1;
  background-color: $white;
  transition: 0.3s ease-in;
}