@use "global" as *;

.c-section-title {
  position: relative;
  text-align: center;
}

.c-section-title__ja {
  @include txt(rem(20), $regular, $white, none);
  @include txt-option(1, 0.1em); // 2px/fsz20
  padding-top: rem(42);
  @include mq(md) {
    font-size: rem(30);
    @include txt-option(1.167, 0.067em); // 35/fsz30, 2px/fsz30
    padding-top: rem(22);
  }
}

.c-section-title__en {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include txt(rem(50), $regular, $accent-color1, none);
  @include txt-option(1, 0.04em); // 2px/fsz50
  font-family: $second-font-family;
  opacity: 0.2;
  @include mq(md) {
    font-size: rem(110);
    letter-spacing: 0.018em; //2px/fsz110
    left: 0;
    transform: none;
  }
}

.c-section-title__en.c-section-title__en--right {
  @include mq(md) {
      right: 0;
      left: initial;
  }
}