<div class="l-footer p-footer">
  <div class="p-footer__inner">
    <div class="p-footer__logo">
      <%- include('../component/_c-logo') %>
    </div>
    <div class="p-footer__nav">
      <%- include('../common/_p-footer-nav') %>
    </div>
  </div>
  <p class="p-footer__copyright"><small> © 2021 CodeUps Inc.</small></p>
</div>
