<div class="p-header js-header">
  <div class="p-header__inner">
    <div class="p-header__logo">
      <%- include('./../component/_c-logo') %>
    </div>
    <div class="p-hamburger u-mobile">
      <%- include('./../component/_c-hamburger') %>
    </div>
    <div class="p-header__nav js-drawer-nav u-desktop">
      <%- include('./../common/_p-header-nav') %>
    </div>
  </div>
</div>