<nav class="p-header-nav js-drawer-nav">
  <ul class="p-header-nav__list">
    <li class="p-header-nav__item u-mobile">
      <a href="index.html">トップ</a>
    </li>
    <li class="p-header-nav__item">
      <a href="sub-news.html">お知らせ</a>
    </li>
    <li class="p-header-nav__item">
      <a href="content.html">事業内容</a>
    </li>
    <li class="p-header-nav__item">
      <a href="sub-works.html">制作実績</a>
    </li>
    <li class="p-header-nav__item">
      <a href="sub-overview.html">企業概要</a>
    </li>
    <li class="p-header-nav__item">
      <a href="sub-blog-archive.html">ブログ</a>
    </li>
    <li class="p-header-nav__item p-header-nav__item--white">
      <a href="sub-contact.html">お問い合わせ</a>
    </li>
  </ul>
</nav>