@use "global" as *;

.p-contact-text__text {
  appearance: none;
  background-color: $white;
  background-image: none;
  border-radius: 0;
  font-size: rem(14);
  margin-top: rem(16);
  padding: rem(10) rem(10) ;
  width: 100%;
  @include mq(md) {
    width: rem(540);
    margin-top: 0;
  }
}

.p-contact-text__text:focus {
  box-shadow: none;
  outline: none;
}
