@use "global" as *;
@use "sass:math";

.p-news {
  @include mq() {
    display: flex;
  }
}

.p-news__information {
  @include mq() {
    width: 100% * math.div(272, strip-unit($l-inner--middle) );
    margin-right: rem(16);
  }
}

.p-news__title {
  display: inline-block;
  margin-top: rem(8);
  font-size: rem(16);
  font-weight: $regular;
  @include mq() {
    flex: 1;
    margin-top: 0;
    padding-top: rem(7);

  }
}

.p-news__title a:hover {
  @include mq() {
    color: $accent-color1;
  }
}