@use "global" as *;

.p-sub-news__main {
  max-width: rem(540);
  width: 100%;
	height: inherit;
  margin-top: rem(85);
  margin-right: auto;
  margin-left: auto;
	padding-right: $padding-sp;
	padding-left: $padding-sp;
  @include mq(md) {
		max-width: $l-inner + strip-unit($padding-pc) * 2;
		max-width: $l-inner--middle + strip-unit($padding-pc) * 2;
		padding-right: $padding-pc;
		padding-left: $padding-pc;
	}
}

.p-sub-news__item + .p-sub-news__item {
  margin-top: rem(32);
}