@use "global" as *;

.p-sub-works-detail__main {
  margin-top: rem(53);
  @include mq(md) {
    margin-top: rem(91);
  }
}

.p-sub-works-detail__inner {

}

.p-sub-works-detail__gallery {
  margin-top: rem(16);
  @include mq(md) {
    position: relative;
    margin-top: rem(32);
  }
}

.p-sub-works-detail__swiper {
  overflow: hidden;
  @include mq(md) {
    
  }
}

.p-sub-works-detail__img {
  width: 100%;
  position: relative;
  @include mq(md) {
    max-width: rem(800);
    width: 100%;
  }
}

.p-sub-works-detail__img::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: $black1;
  opacity: 0.2;
}

.gallery-thumbs {
  margin-top: rem(32);
}

.gallery-thumbs .swiper-slide {
  width: rem(168);
  height: rem(168);
}

.p-sub-works__body {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-sub-works-detail__title {
  @include txt(rem(20), $regular, $white, none);
  @include txt-option(1.75, 0.02em); // 35/fsz20 0.4px/fsz20
}

.p-sub-works__point + .p-sub-works__point {
  margin-top: rem(32);
  @include mq(md) {
    margin-top: rem(48);
  }
}

.p-point__title {
  @include txt(rem(20), $regular, $white, none);
  @include txt-option(1.75, 0.02em); // 35/fsz20 0.4px/fsz20
  display: inline-block;
  padding: rem(8) rem(24);
  border: 1px solid $white;
  border-radius: 32px;
  margin-left: rem(24);
  background-color: $black1;
  @include mq(md) {
    line-height: auto;
  }
}

.p-point__text {
  @include txt(rem(16), $regular, $white, none);
  @include txt-option(2.1875, 0.025em); // 35/fsz16 0.4px/fsz16
  padding: rem(56) rem(10) rem(33);
  border: 1px solid $white;
  margin-top: rem(-26);
}