@use "global" as *;

.p-sub-overview__items {
  
}

.p-sub-overview__item {
  display: flex;
  border-bottom: 1px solid $white;
}

.p-sub-overview__term {
  @include txt(rem(13), $regular, $white, none);
  @include txt-option(1.615, none); // 21/fsz13
  max-width: rem(52);
  width: 100%;
  margin-right: rem(57);
  margin-left: rem(5);
  padding: rem(18) 0;
  @include mq(md) {
    font-size: rem(16);
    line-height: 1.3125;
    max-width: rem(64);
    margin-right: rem(104);
    padding: rem(28) 0;
  }
}

.p-sub-overview__description {
  @include txt(rem(13), $regular, $white, none);
  @include txt-option(1.846, none); // 24/fsz13
  max-width: rem(221);
  width: 100%;
  padding: rem(18) 0;
  @include mq(md) {
    font-size: rem(16);
    @include txt-option(1.5, 0.0625); // 24/fsz16 1px/fsz16
    max-width: rem(839);
    padding: rem(28) 0;
  }
}