@use "global" as *;
@use "sass:math";

.p-sub-mv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(425);
  object-fit: cover;
  background-image: url(../images/common/sub-mv__background--sp.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include mq() {
    height: rem(370);
    background-image: url(../images/common/sub-mv__background--pc.jpg);

  }
}

.p-sub-mv__title {
  font-size: rem(30);
  font-weight: $bold;
  letter-spacing: math.div( 2em, 30 );
  @include mq() {
    font-size: rem(35);
    letter-spacing: math.div( 2em, 35 );
  }
}