@use "global" as *;
@use "sass:math";

.p-thanks {
  text-align: center;
}

.p-thanks__title {
  margin-top: rem(80);
  font-size: rem(20);
  font-weight: $regular;
  letter-spacing: math.div( 2em, 20);
  @include mq() {
    margin-top: rem(80);
    font-size: rem(30);
    letter-spacing: math.div( 2em, 30);
  }
}

.p-thanks__message {
  margin-top: rem(80);
  font-size: rem(20);
  font-weight: $regular;
  letter-spacing: math.div( 2em, 20);
  @include mq() {
    margin-top: rem(80);
    font-size: rem(30);
    letter-spacing: math.div( 2em, 30);
  }
}

.p-thanks__btn {
  margin-top: rem(80);
  @include mq() {
    width: rem(360);
    margin-right: auto;
    margin-left: auto;
  }
}

