@use "global" as *;
@use "sass:math";

.p-top-news {
  padding: 0 $padding-sp;
  @include mq(md) {
    display: flex;
    justify-content: center;
    max-width: rem(1042);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
  }
}

.p-top-news__wrapper {
  @include mq(md) {
    width: 100% * math.div(900, 1042);
  }
}

.p-top-news__btn {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(0);
    padding-top: rem(3);
  }
}