@use "global" as *;

.p-top-blog__head {
  position: relative;
}

.p-top-blog__wrapper {
  margin-top: rem(64);
  @include mq(md) {
    margin-top: rem(47);
  }
}

.p-top-blog__btn {
  margin-top: rem(24);
  text-align: center;
  width: rem(335);
  @include mq(md) {
    margin-top: rem(48);
    width: rem(360);
  }
}