<div class="p-category">
  <ul class="p-category__items">
    <li class="p-category__item is-active">
      <a href="#">all</a>
    </li>
    <li class="p-category__item">
      <a href="#">カテゴリ1</a>
    </li>
    <li class="p-category__item">
      <a href="#">カテゴリカテゴリ</a>
    </li>
    <li class="p-category__item">
      <a href="#">カテ</a>
    </li>
  </ul>
</div>