<div class="p-contact">
  <div class="p-contact__inner">
    <div class="p-contact__head">
      <%- include('./../component/_c-section-title',{ja:'お問い合わせ', en:'Contact'}) %>
    </div>
    <div class="p-contact__wrapper">
      <div class="p-contact__body">
        <p class="p-contact__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      </div>
        <div class="p-contact__btn">
          <%- include('./../component/_c-btn',{text:'お問い合わせへ', link:'#', btntype:'normal'}) %>
        </div>
    </div>
  </div>
</div>