<div class="p-pager">
  <a class="first" href="#">prev</a>
  <span class="current">1</span>
  <a class="page larger" href="#">2</a>
  <a class="page larger" href="#">3</a>
  <a class="page larger" href="#">4</a>
  <a class="last" href="#">next</a>
</div>