<div class="p-relatives">
  <div class="p-relatives__inner l-inner">
    <h2 class="p-relatives__title">関連記事</h2>
    <div class="p-relateves__cards p-cards">
      <%- include('../project/_p-cards',{cardType:'small', numberNew:'', number:'4'}) %>
    </div>
  </div>
</div>