<div class="p-sub-blog-archive">
  <div class="p-sub-blog-archive__inner l-inner">
      <%- include('../project/_p-category') %>
    <div class="p-sub-blog-archive__items">
      <%- include('../project/_p-cards',{cardType:'normal', numberNew:'1', number:'8'}) %>
    </div>
    <!-- <div class="p-sub-blog-archive__items u-desktop">
      <%# include('../project/_p-cards',{cardType:'normal', numberNew:'', number:'9'}) %>
    </div> -->
    <!-- <div class="l-pager">
      <%#- include('../project/_p-pager') %>
    </div> -->
  </div>
</div>