<div class="p-sub-overview">
  <div class="p-sub-overview__inner l-inner">
    <dl class="p-sub-overview__items">
      <div class="p-sub-overview__item">
        <dt class="p-sub-overview__term">会社名</dt>
        <dd class="p-sub-overview__description">株式会社CodeUps</dd>
      </div>
      <div class="p-sub-overview__item">
        <dt class="p-sub-overview__term">設立</dt>
        <dd class="p-sub-overview__description">テキストが入ります。</dd>
      </div>
      <div class="p-sub-overview__item">
        <dt class="p-sub-overview__term">資本金</dt>
        <dd class="p-sub-overview__description">テキストが入ります。</dd>
      </div>
      <div class="p-sub-overview__item">
        <dt class="p-sub-overview__term">売上高</dt>
        <dd class="p-sub-overview__description">テキストが入ります。</dd>
      </div>
      <div class="p-sub-overview__item">
        <dt class="p-sub-overview__term">代表者</dt>
        <dd class="p-sub-overview__description">テキストが入ります。</dd>
      </div>
      <div class="p-sub-overview__item">
        <dt class="p-sub-overview__term">従業員数</dt>
        <dd class="p-sub-overview__description">テキストが入ります。</dd>
      </div>
      <div class="p-sub-overview__item">
        <dt class="p-sub-overview__term">事業内容</dt>
        <dd class="p-sub-overview__description">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</dd>
      </div>
      <div class="p-sub-overview__item">
        <dt class="p-sub-overview__term">所在地</dt>
        <dd class="p-sub-overview__description">東京駅</dd>
      </div>
    </dl>
  </div>
</div>