<div class="p-sub-works-detail">
  <div class="p-sub-works-detail__inner l-inner">
    <h1 class="p-sub-works-detail__title">
      〇〇株式会社　制作実績
    </h1>
    <div class="p-works-article__information p-information">
      <time class="p-information__date" datetime="2020-06-13">2020/06/13</time>
      <div class="p-information__category">カテゴリ１</div>
    </div>

    <div class="p-sub-works-detail__gallery">
      <div class="p-sub-works-detail__swiper swiper-container js-gallery-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img slide-img">
            <img src="images/top/works_1.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img slide-img">
            <img src="images/top/works_2.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img slide-img">
            <img src="images/top/works_3.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img slide-img">
            <img src="images/top/works_1.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img slide-img">
            <img src="images/top/works_2.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img slide-img">
            <img src="images/top/works_3.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img slide-img">
            <img src="images/top/works_2.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img slide-img">
            <img src="images/top/works_3.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
  
      <div class="p-sub-works-detail__swiper swiper-container js-gallery-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img2 slide-img">
            <img src="images/top/works_1.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img2 slide-img">
            <img src="images/top/works_2.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img2 slide-img">
            <img src="images/top/works_3.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img2 slide-img">
            <img src="images/top/works_1.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img2 slide-img">
            <img src="images/top/works_2.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img2 slide-img">
            <img src="images/top/works_3.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img2 slide-img">
            <img src="images/top/works_2.jpg" alt="">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="p-sub-works-detail__img2 slide-img">
            <img src="images/top/works_3.jpg" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="p-sub-works__body">
      <div class="p-sub-works__point">
        <span class="p-point__title">制作のポイント</span>
        <div class="p-point__text">
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
      <div class="p-sub-works__point">
        <span class="p-point__title">デザインのポイント</span>
        <div class="p-point__text">
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
      <div class="p-sub-works__point">
        <span class="p-point__title">その他</span>
        <div class="p-point__text">
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
    </div>
  </div>
</div>