<div class="p-sub-content">
  <div class="p-sub-content__inner l-inner">
    <h2 class="p-sub-content__main-title">企業理念</h2>
    <p class="p-sub-content__description">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <ul class="p-sub-content__items">
      <li class="p-sub-content__item">
        <figure class="p-sub-content__image">
          <img src="./images/common/content-image01.jpg" alt="企業理念1の画像">
        </figure>
        <div class="p-sub-content__text">
          <h3 class="p-sub-content__heading">企業理念１</h3>
          <p class="p-sub-content__explanation">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
        </div>
      </li>
      <li class="p-sub-content__item">
        <figure class="p-sub-content__image">
          <img src="./images/common/content-image02.jpg" alt="企業理念2の画像">
        </figure>
        <div class="p-sub-content__text">
          <h3 class="p-sub-content__heading">企業理念２</h3>
          <p class="p-sub-content__explanation">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
        </div>
      </li>
      <li class="p-sub-content__item">
        <figure class="p-sub-content__image">
          <img src="./images/common/content-image03.jpg" alt="企業理念3の画像">
        </figure>
        <div class="p-sub-content__text">
          <h3 class="p-sub-content__heading">企業理念３</h3>
          <p class="p-sub-content__explanation">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
