<div class="p-sub-contact">
  <div class="p-sub-contact__inner l-inner">
    <div class="p-sub-contact__content">
      <div class="p-sub-contact__head">
        <p class="p-sub-contact__title">※会社名・団体名</p>
      </div>
      <div class="p-sub-contact__item p-contact-text">
        <input class="p-contact-text__text" type="text" organization="name" autocomplete="organization" placeholder="テキストがはいります">
      </div>
    </div>
    <div class="p-sub-contact__content">
      <div class="p-sub-contact__head">
        <p class="p-sub-contact__title">※部署名</p>
      </div>
      <div class="p-sub-contact__item p-contact-text">
        <input class="p-contact-text__text" type="text" organization="name" autocomplete="organization" placeholder="テキストがはいります">
      </div>
    </div>
    <div class="p-sub-contact__content">
      <div class="p-sub-contact__head">
        <p class="p-sub-contact__title">※お名前</p>
      </div>
      <div class="p-sub-contact__item p-contact-text">
        <input class="p-contact-text__text" type="text" name="name" autocomplete="name" placeholder="テキストがはいります">
      </div>
    </div>
    <div class="p-sub-contact__content">
      <div class="p-sub-contact__head">
        <p class="p-sub-contact__title">※ふりがな</p>
      </div>
      <div class="p-sub-contact__item p-contact-text">
        <input class="p-contact-text__text" type="text" name="name" autocomplete="name" placeholder="テキストがはいります">
      </div>
    </div>
    <div class="p-sub-contact__content">
      <div class="p-sub-contact__head">
        <p class="p-sub-contact__title">※メールアドレス</p>
      </div>
      <div class="p-sub-contact__item p-contact-text">
        <input class="p-contact-text__text" type="email" name="email" autocomplete="email" placeholder="テキストがはいります">
      </div>
    </div>
    <div class="p-sub-contact__content">
      <div class="p-sub-contact__head">
        <p class="p-sub-contact__title">※お問い合わせ内容</p>
      </div>
      <div class="p-sub-contact__item p-contact-textarea">
        <textarea class="p-contact-textarea__text" placeholder="テキストがはいります"></textarea>
      </div>
    </div>
    <div class="p-sub-contact__btn">
      <%- include('../component/_c-btn',{text:'送信', link:'thanks.html', btntype:'submit'}) %>
    </div>
  </div>
</div>