<div class="p-sub-blog-archive">
  <div class="p-sub-blog-archive__inner l-inner">
      <%- include('../project/_p-category') %>
    <ul class="p-sub-blog-archive__list u-mobile">
      <%- include('../project/_p-cards',{cardType:'normal', numberNew:'1', number:'8'}) %>
    </ul>
    <ul class="p-sub-blog-archive__list u-desktop">
      <%- include('../project/_p-cards',{cardType:'normal', numberNew:'', number:'9'}) %>
    </ul>
    <div class="l-pager">
      <%- include('../project/_p-pager') %>
    </div>
  </div>
</div>