<div class="p-sub-blog-detail p-blog-article">
  <div class="p-blog-article__inner l-inner">
    <h1 class="p-blog-article__title">
      タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。
    </h1>
    <div class="p-blog-article__information p-information">
      <time class="p-information__date" datetime="2020-06-13">2020/06/13</time>
      <div class="p-information__category">カテゴリ１</div>
    </div>
    <figure class="p-blog-article__image">
      <img src="./images/blog/detail/detail001-image01.jpg" alt="">
    </figure>
    <p class="p-blog-article__text">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <h2 class="p-blog-article__heading2">見出し2</h2>
    <p class="p-blog-article__text">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <h3 class="p-blog-article__heading3">見出し3見出し3見出し3</h3>
    <p class="p-blog-article__text">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
    <figure class="p-blog-article__image">
      <img src="./images/blog/detail/detail001-image02.jpg" alt="">
    </figure>
    <ul class="p-blog-article__unordered-items">
      <li class="p-blog-article__unordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      <li class="p-blog-article__unordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      <li class="p-blog-article__unordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      <li class="p-blog-article__unordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
    </ul>
    <ol class="p-blog-article__ordered-items">
      <li class="p-blog-article__ordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      <li class="p-blog-article__ordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      <li class="p-blog-article__ordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
      <li class="p-blog-article__ordered-item">リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
    </ol>
  </div>
</div>