<div class="p-top-overview">
  <div class="p-top-overview__inner">
  <div class="p-top-overview__line-bottom"></div>
    <div class="p-top-overview__head">
      <%- include('../component/_c-section-title',{ja:'企業概要', en:'Overview'}) %>
    </div>
    <div class="p-top-overview__wrapper">
      <figure class="p-top-overview__img">
      <img src="images/top/overview.jpg" alt="">
      </figure>
      <div class="p-top-overview__body">
        <h3 class="p-top-overview__text-title">メインタイトルが入ります</h3>
        <p class="p-top-overview__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        <div class="p-top-overview__btn">
          <%- include('../component/_c-btn',{text:'詳しく見る', link:'sub-overview.html', btntype:'normal'}) %>
        </div>
      </div>
    </div>
  </div>
</div>