<div class="p-mv js-mv">
  <div class="p-mv__inner">
    <div class="swiper mySwiper u-mobile">
      <div class="p-mv__wrapper swiper-wrapper">
        <div class="swiper-slide">
          <div class="p-mv__img swiper-img">
            <img src="images/top/mv-sp_1.jpg" alt="">
          </div>
          <div class="p-mv__block">
            <h2 class="p-mv__title">CodeUps_TeamProject</h2>
            <span class="p-mv__subtitle">team_yoshitoshi</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="p-mv__img swiper-img">
            <img src="images/top/mv-sp_2.jpg" alt="">
          </div>
          <div class="p-mv__block">
            <h2 class="p-mv__title">CodeUps_TeamProject</h2>
            <span class="p-mv__subtitle">team_yoshitoshi</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="p-mv__img swiper-img">
            <img src="images/top/mv-sp_3.jpg" alt="">
          </div>
          <div class="p-mv__block">
            <h2 class="p-mv__title">CodeUps_TeamProject</h2>
            <span class="p-mv__subtitle">team_yoshitoshi</span>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper mySwiper u-desktop">
      <div class="p-mv__wrapper swiper-wrapper">
        <div class="swiper-slide">
          <div class="p-mv__img swiper-img">
            <img src="images/top/mv_1.jpg" alt="">
          </div>
          <div class="p-mv__block">
            <h2 class="p-mv__title">CodeUps_TeamProject</h2>
            <span class="p-mv__subtitle">team_yoshitoshi</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="p-mv__img swiper-img">
            <img src="images/top/mv_2.jpg" alt="">
          </div>
          <div class="p-mv__block">
            <h2 class="p-mv__title">CodeUps_TeamProject</h2>
            <span class="p-mv__subtitle">team_yoshitoshi</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="p-mv__img swiper-img">
            <img src="images/top/mv_3.jpg" alt="">
          </div>
          <div class="p-mv__block">
            <h2 class="p-mv__title">CodeUps_TeamProject</h2>
            <span class="p-mv__subtitle">team_yoshitoshi</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>