<div class="p-top-news">
  <div class="p-top-news__wrapper">
    <%- include('../project/_p-news',{datetime:'2020-07-20', date:'2020.07.20', newsCategory:'お知らせ', link:'#', newsTitle:'記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。'}) %>
  </div>
  <div class="p-top-news__btn">
    <%- include('../component/_c-btn',{text:'すべて見る', link:'sub-news.html', btntype:'pcSmall'}) %>
  </div>
</div>