<div class="p-mv js-mv">
  <div class="p-mv__inner">
    <div class="swiper js-mySwiper">
      <div class="p-mv__wrapper swiper-wrapper">
        <div class="swiper-slide">
          <picture class="p-mv__img swiper-img">
            <source srcset="images/top/mv_1.jpg" media="(min-width: 768px)">
            <img src="images/top/mv-sp_1.jpg" alt="image">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="p-mv__img swiper-img">
            <source srcset="images/top/mv_2.jpg" media="(min-width: 768px)">
            <img src="images/top/mv-sp_2.jpg" alt="image">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="p-mv__img swiper-img">
            <source srcset="images/top/mv_3.jpg" media="(min-width: 768px)">
            <img src="images/top/mv-sp_3.jpg" alt="image">
          </picture>
        </div>
        <div class="p-mv__block">
          <h2 class="p-mv__title">CodeUps_TeamProject</h2>
          <span class="p-mv__subtitle">team_yoshitoshi</span>
        </div>
      </div>
    </div>
  </div>
</div>