<div class="p-top-blog">
  <div class="p-top-blog__inner l-inner">
    <div class="p-top-blog__head">
      <%- include('../component/_c-section-title',{ja:'ブログ', en:'Blog'}) %>
    </div>
    <div class="p-top-blog__wrapper">
      <%- include('../project/_p-cards',{cardType:'normal', numberNew:'1', number:'2'}) %>
    </div>
    <div class="p-top-blog__btn">
      <%- include('../component/_c-btn',{text:'詳しく見る', link:'sub-blog-archive.html', btntype:'normal'}) %>
    </div>
  </div>
</div>