<div class="p-top-content">
  <div class="p-top-content__inner">
  <div class="p-top-content__line-top"></div>
  <div class="p-top-content__wrapper">
    <div class="p-top-content__head">
      <%- include('../component/_c-section-title',{ja:'事業内容', en:'Content'}) %>
    </div>
  </div>
    <div class="p-top-content__items">
      <a href="sub-content.html" class="p-top-content__item p-content-box">
        <figure class="p-content-box__img">
          <img src="images/top/content.jpg" alt="">
        </figure>
        <div class="p-content-box__body">
          <p class="p-content-box__title">経営理念ページへ</p>
        </div>
      </a>
      <a href="sub-content.html" class="p-top-content__item p-content-box">
        <figure class="p-content-box__img">
          <img src="images/top/content_1.jpg" alt="">
        </figure>
        <div class="p-content-box__body">
          <p class="p-content-box__title">理念1へ</p>
        </div>
      </a>
      <a href="sub-content.html" class="p-top-content__item p-content-box">
        <figure class="p-content-box__img">
          <img src="images/top/content_2.jpg" alt="">
        </figure>
        <div class="p-content-box__body">
          <p class="p-content-box__title">理念2へ</p>
        </div>
      </a>
      <a href="sub-content.html" class="p-top-content__item p-content-box">
        <figure class="p-content-box__img">
          <img src="images/top/content_3.jpg" alt="">
        </figure>
        <div class="p-content-box__body">
          <p class="p-content-box__title">理念3へ</p>
        </div>
      </a>
    </div>
  </div>
</div>