<div class="p-top-works">
  <div class="p-top-works__inner">
    <div class="p-top-works__head">
      <%- include('../component/_c-section-title',{ja:'制作実績', en:'Works'}) %>
    </div>
    <div class="p-top-works__wrapper">
      <div class="p-top-works__swiper">
        <div class="swiper2 js-mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure class="p-top-works__img slide-img">
              <img src="images/top/works_1.jpg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="p-top-works__img slide-img">
              <img src="images/top/works_2.jpg" alt="">
              </figure>
            </div>
            <div class="swiper-slide">
              <figure class="p-top-works__img slide-img">
              <img src="images/top/works_3.jpg" alt="">
              </figure>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="p-top-works__body">
        <h3 class="p-top-works__text-title">メインタイトルが入ります</h3>
        <p class="p-top-works__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        <div class="p-top-works__btn">
          <%- include('../component/_c-btn',{text:'詳しく見る', link:'sub-works.html', btntype:'normal'}) %>
        </div>
      </div>
    </div>
  </div>
</div>