<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <header class="l-header">
    <%- include('./common/_p-header') %>
  </header>

  <section class="l-sub-404">
    <%- include('./project/_p-sub-404') %>
  </section>

  <div class="l-footer">
    <%- include('./common/_p-footer') %>
  </div>
  
</body>
</html>