<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <header class="l-header">
    <%- include('./common/_p-header') %>
  </header>

  <main class="p-thanks__main">
    <div class="p-thanks__inner l-inner">
      <h1 class="p-thanks__title">お問い合わせ完了</h1>
      <p class="p-thanks__message">3営業日以内に<br class="u-mobile">返信させて頂きます。</p>
      <div class="p-thanks__btn">
        <%- include('./component/_c-btn',{text:'TOPへ', link:'#', btntype:'normal'}) %>
      </div>
    </div>
  </main>
  <%- include('./common/_p-footer') %>
</body>

</html>