<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
  <%#- include('./common/_p-header') %>
  <%- include('./project/_p-sub-mv',{pageTitle:'お知らせ'}) %>

  <div class="sub-news-archive__breadcrumb l-breadcrumb">
    <div class="sub-news-archive__l-inner l-inner">
      <%- include('./project/_p-breadcrumb',{link:'#', seccondPage:'制作実績', thirdPage:''}) %>
    </div>
  </div>

  <main class="sub-news-archive__news">
    
  </main>

  <%#- include('./common/_p-footer') %>
</body>
</html>