<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
  <header class="l-header">
    <%- include('./common/_p-header') %>
  </header>

  <main class="l-thanks">
    <%- include('./project/_p-thanks') %>
  </main>

  <div class="l-footer">
    <%- include('./common/_p-footer') %>
  </div>
  
</body>

</html>