<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>

    <!-- <p>component/_c-logo</p>
    <%# include('./component/_c-logo') %>
    
    <p>component/_c-top-btn</p>
    <%# include('./component/_c-top-btn') %>

    <p>project/_p-category</p>
    <%# include('./project/_p-category') %>
        
    <p>project/_p-pager</p>
    <%# include('./project/_p-pager') %>

    <p>component/_c-section-title</p>
    <%# include('./component/_c-section-title',{ja:'事業内容', en:'Content'}) %> -->
    
    <%#
    下記パーツはまだマージしていないので、エラーが出ないようにコメントアウトしています
    パーツ完成後に、"%#" → "%-"に修正
    %>

    <!-- <p>common/_p-header</p> -->
    <header class="p-header">
      <div class="p-header__inner">
        <div class="p-header__wrapper">
          <div class="p-header__logo">
            <%- include('./component/_c-logo') %>
          </div>
          <div class="p-hamburger u-mobile">
            <%- include('./component/_c-hamburger') %>
          </div>
          <div class="p-header__nav js-drawer-nav u-desktop">
            <%- include('./common/_p-header-nav') %>
          </div>
        </div>  
      </div>
    </header>

  </body>
</html>
