<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>


    <p>component/_c-logo</p>

    <%# include('./component/_c-logo') %>
    
    <p>component/_c-top-btn</p>
    <%# include('./component/_c-top-btn') %>

    <p>project/_p-category</p>
    <%# include('./project/_p-category') %>
        
    <p>project/_p-pager</p>
    <%# include('./project/_p-pager') %>

    <p>component/_c-section-title</p>

    <%- include('./component/_c-section-title',{ja:'事業内容', en:'Content'}) %>

    <p>common/_p-footer-nav</p>
    <%# include('./common/_p-footer-nav') %>

    <nav class="p-footer-nav">
      <ul class="p-footer-nav__items">
        <li class="p-footer-nav__item u-mobile">
          <a href="#">トップ</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">お知らせ</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">事業内容</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">企業概要</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">ブログ</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">お問い合わせ</a>
        </li>
      </ul>
    </nav>


    <div class="p-contact">
      <div class="p-contact__inner">
        <div class="p-contact__head">
          <%- include('./component/_c-section-title',{ja:'お問い合わせ', en:'Contact'}) %>
        </div>
        <div class="p-contact__wrapper">
          <div class="p-contact__body">
            <p class="p-contact__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
            <div class="p-contact__btn">
              <%- include('./component/_c-btn',{text:'お問い合わせへ', link:'#', btntype:'normal'}) %>
            </div>
        </div>
      </div>
    </div>
    

  </body>
</html>
