<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>


    <p>component/_c-logo</p>

    <%# include('./component/_c-logo') %>
    
    <p>component/_c-top-btn</p>
    <%# include('./component/_c-top-btn') %>

    <p>project/_p-category</p>
    <%# include('./project/_p-category') %>
        
    <p>project/_p-pager</p>
    <%# include('./project/_p-pager') %>

    <p>component/_c-section-title</p>

    <%- include('./component/_c-section-title',{ja:'事業内容', en:'Content'}) %>

    <p>common/_p-footer-nav</p>
    <%# include('./common/_p-footer-nav') %>

    <nav class="p-footer-nav">
      <ul class="p-footer-nav__items">
        <li class="p-footer-nav__item u-mobile">
          <a href="#">トップ</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">お知らせ</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">事業内容</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">企業概要</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">ブログ</a>
        </li>
        <li class="p-footer-nav__item">
          <a href="#">お問い合わせ</a>
        </li>
      </ul>
    </nav>


    
    

    <%#
    下記パーツはまだマージしていないので、エラーが出ないようにコメントアウトしています
    パーツ完成後に、"%#" → "%-"に修正
    %>

    <p>common/_p-header</p>
    <%- include('./common/_p-header') %>
    


  </body>
</html>
