@use "global" as *;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  transition: all .3s;
  background: rgba($color: $black1, $alpha: 0.5);
  box-sizing: border-box;
  box-shadow: rem(0) rem(4) rem(4) rgba(0, 0, 0, 0.25);
}

