<div class="c-category">
  <div class="l-inner">
    <ul class="c-category__items">
      <span class="c-category__item--all">
        <a href="#">all</a>
      </span>
      <li class="c-category__item">
        <a href="#">カテゴリ1</a>
      </li>
      <li class="c-category__item">
        <a href="#">カテゴリカテゴリ</a>
      </li>
      <li class="c-category__item">
        <a href="#">カテ</a>
      </li>
    </ul>
  </div>
</div>